.page {
    background: #FFFFFF;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.logo {
    font-family: Raleway;
    font-weight: bold;      
    font-size: 26px;
    line-height: 1.3;
}

.site-nav .link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}

.site-nav .link:hover, .site-nav .link:focus {
    color: #2196F3; 
}

.site-nav .link.current {
    color: #2196F3;
}

.nav-info {
    color:#757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}

.nav-info:hover, .nav-info:focus {
    color: #2196F3; 
}

.our-section {
    color: #212121;  
}

.hero {
    background: #2F303A;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.about-our-title {
    color: #212121;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
}

.about-our-text {
    color:#757575;
    font-size: 14px;
    line-height: 1.7;
}

.work {
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team   {
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
}

.teamated {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}



.footer {
    background: #2F303A; 
}

.adress {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.7;
}

.contacts-mt {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
}

.button {
    color: #FFFFFF;
    background: #2196F3;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
}

.button-primary {
    color: #212121;
    background: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}

.button-primary:hover, .button-primary:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.exemples-title {
    color: #212121;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}


/*основной цвет color: #212121; 
 /* второстепенный цвет color: #757575;
 /* третий цвет  color: #FFFFFF;
 /* цвет ссылки color: #2196F3;
 /* для адреса в низу color: rgba(255, 255, 255, 0.6);

 /* шапка background: #FFFFFF;
 /* вторая секция и футер background: #2F303A;
 /*  основа под второй секцией и на портфолио background: #FFFFFF;
 /* цвет нашей команды background: #F5F4FA;